﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" CodeFile="contact-us.aspx.vb" Inherits="contact_us" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <br/>
    <br/>
	 <br/>
  <section>
	<div class="col-sm-12" style=""margin-top:24px;>
	<div class="mapouter"><div class="gmap_canvas"><iframe width="1300" height="322" id="gmap_canvas" src="https://maps.google.com/maps?q=A-31,Near%20Gandhi%20Nagar%20Public%20School,Gandhi%20Nagar,Moradabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:322px;width:1300px;}</style><a href="https://www.embedgooglemap.net">google map on web site</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:322px;width:1300px;}</style></div></div>
	</div>
	</section>
    
    <section>
		<div class="form form-spac rows con-page">
			<div class="container">
				<!-- TITLE & DESCRIPTION -->
				<div class="spe-title col-md-12">
					<h2><span>Contact us</span></h2>
					<div class="title-line">
						<div class="tl-1"></div>
						<div class="tl-2"></div>
						<div class="tl-3"></div>
					</div>
					<p>World's leading tour and travels Booking website. Book flight tickets and enjoy your holidays with distinctive experience</p>
				</div>

		<div class="pg-contact">
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                            <h2>Tripsking</h2>
                            <p>Tripsking is more than just a website or company.Tripsking is for belief of agents that every agents has for their travelers, to distinctive experience of their travel and to grow.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.html" alt="">
                            <h4>Address</h4>
                            <p>A-31,Near Gandhi Nagar Public School,Gandhi Nagar,
                               </p>
							   <p style="margin-top: -11px;">Moradabad,Uttar Pradesh.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.html" alt="">
                            <h4>CONTACT INFO:</h4>
                            <p> <a href="tel://0099999999" class="contact-icon">Mobile: 9536615000,9634980715,7310684951</a>
                                <br> <a href="mailto:support@tripsking.in" class="contact-icon">Email: support@tripsking.in</a> </p>
								
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.html" alt="">
                            <h4>Website</h4>
                            <p> <a href="#">Website: www.Tripsking.in</a>
                            
                                </p>
								<p> <abbr title="Hours">H</abbr>: Monday - Friday: 10:00 AM to 6:00 PM</p>
                        </div>
                    </div>				
			</div>
		</div>
	</section>
    
      
    

</asp:Content>

